<div class="row fondo-panel">
  <div class="col-ms-12 panel-principal">
    <span class="filtro-titulo-principal">Filtros</span>
  </div>
  <div class="col-sm-12 panel-principal">
    <div class="row">
      <div class="col-sm-12">
        <span class="filtro-titulo"><i class="glyphicon glyphicon-search"></i> Nombre del hotel</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <input type="text" class="form-control" placeholder="Ingrese el nombre del hotel" [(ngModel)]="filtro.name">
      </div>
      <div class="col-sm-12 col-md-6">
        <button type="button" class="btn btn-principal form-control" (click)="buscarHoteles()">Aceptar</button>
      </div>
    </div>
  </div>
  <div class="col-xs-12 panel-principal">
    <div class="row">
      <div class="col-sm-12">
        <span class="filtro-titulo"><i class="glyphicon glyphicon-star"></i>Estrellas</span>
      </div>
    </div>
    <div class="row">
      <ul class="listado-estrellas">
        <li *ngFor="let estrella of filtro.estrellas">
          <input type="checkbox" [checked]="estrella.activo" (click)="cambiarEstrellas(estrella)" *ngIf="estrella.cantidad == 'TODAS'">
          <input type="checkbox" [checked]="estrella.activo" (change)="estrella.activo = !estrella.activo" *ngIf="estrella.cantidad != 'TODAS'">
          <span *ngIf="estrella.cantidad == 'TODAS'">Todas las estrellas</span>
          <div *ngFor="let star of [1,2,3,4,5]" class="estrellas">
            <i class="glyphicon glyphicon-star" *ngIf="star <= estrella.cantidad"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
