<div class="row fondo-panel">
  <div class="col-ms-12 panel-principal">
    <span class="filtro-titulo-principal">Filtros</span>
  </div>
  <div class="col-sm-12 panel-principal">
    <div class="row">
      <div class="col-sm-12">
        <span class="filtro-titulo"><i class="glyphicon glyphicon-search"></i> Nombre del hotel</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <input type="text" class="form-control" placeholder="Ingrese el nombre del hotel">
      </div>
      <div class="col-xs-12 col-sm-4">
        <button type="button" class="btn btn-principal form-control">Aceptar</button>
      </div>
    </div>
  </div>
  <div class="col-xs-12 panel-principal">
    <div class="row">
      <div class="col-sm-12">
        <span class="filtro-titulo"><i class="glyphicon glyphicon-star"></i>Estrellas</span>
      </div>
    </div>
    <div class="row">
      <ul class="listado-estrellas">
        <li>
          Todas las estrellas
        </li>
        <li class="estrellas">
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
        </li>
        <li class="estrellas">
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
        </li>
        <li class="estrellas">
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
        </li>
        <li class="estrellas">
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
        </li>
        <li class="estrellas">
          <i class="glyphicon glyphicon-star"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
