<div class="col-sm-12">
  <div class="col-sm-4">Id</div>
  <div class="col-sm-4">Nombre</div>
  <div class="col-sm-4">Apellido</div>
</div>
<div class="col-sm-12">
  <div class="col-sm-4">
    <input type="text" [(ngModel)]="usuario.id" class="form-control" />
  </div>
  <div class="col-sm-4">
    <input type="text" [(ngModel)]="usuario.nombre" class="form-control" />
  </div>
  <div class="col-sm-4">
    <input type="text" [(ngModel)]="usuario.apellido" class="form-control" />
  </div>
</div>
<div class="col-sm-12">
  <br/>
  <button class="btn btn-success" (click)="guardar()">Guardar</button>
</div>
