<div class="row fondo-panel">
  <article class="col-ms-12 panel-principal">
    <div class="row">
      <div class="col-xs-8">
        <div class="col-xs-6">
          <img src="asdasd.png">
        </div>
        <div class="col-xs-6">
          <div class="row">
            Hotel Stefanos
          </div>
          <div class="row">
            <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>
          </div>
          <div class="row">
            * - ? ¿
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="row">
          Precio por noche por habitación
        </div>
        <div class="row">
          ARS 863
        </div>
        <div class="row">
        </div>
        <button class="btn btn-principal">Ver Hotel</button>
      </div>
    </div>
  </article>
</div>
